.portfolio {
    &__grid {
      row-gap: 35px;
      column-gap: 15px;
      grid-template-columns: repeat(3, minmax(280px, 1fr));
    }
    &__project {
      width: 380px;
    }
  
    &__title {
      width: 100%;
    }
  
    &__img {
      width: 100%;
    }
  }
  