@media (max-width: 768px) {
    .objectives{
        width: 100%;
    }
    body{
        min-width: 100vw;
        overflow-x: hidden;
    }
    .container{
        overflow-x: hidden;
        width: 90vh;
        display: flex;
        padding: 15px;
    }
    .container-left{
        grid-row: 2;
        width: 90%;
    }
    .planner{
        grid-row: 1;
        padding: auto;
        width: 90vw;
        
        &__title{
            display: inline-block;
            width: 100%;
            font-size: 1.8rem;
        }
        &__sub-title{
            display: inline-block;
            width: 100%;
        }
        &__week{
            grid-template-columns: repeat(7, 100px);
            grid-gap: 10px;
            overflow: scroll;
        }


    }
    .planner_day-name{
        margin: 30px 0;   
    }
    .card{
        margin-bottom: 10px;
    }
    .container-left{
        margin: 0 auto;
    }
}