.carrousel__container {
  margin: auto;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 40vh;
  width: 100vw;
  padding: 30px;
  padding-top: 60px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carrousel {
  position: relative;
  min-width: 80vw;
  max-width: 100vw;
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrousel li {
  position: absolute;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrousel li img {
  width: 100%;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.carrousel li:first-child {
  opacity: 1;
  /*Mostramos el primer <li>*/
}

.carrousel li:target {
  opacity: 1;
  /*Mostramos el <li> del enlace que pulsemos*/
}

.carrousel__menu {
  min-width: 120px;
  max-width: 10%;
  text-align: center;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carrousel__menu li {
  display: inline-block;
  text-align: center;
}

.carrousel__menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

.carrousel__menu li a:hover {
  background-color: white;
}

.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
}

.about__description {
  color: var(--color-text);
  font-size: var(--font-size-text);
  margin: 10px 0;
}

.about__skills-container {
  min-height: 50vh;
  width: 100%;
  margin: 15px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 15px;
}

.about__skills-container .skill {
  padding: 5px;
  min-width: 80px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 0;
}
/*# sourceMappingURL=portfolio.css.map */